button {
    padding: 15px 30px;
    font-size: 18px;
    font-weight: bold;
    color: white;
    background: red;
    border: none;
    border-radius: 50px;
    cursor: pointer;
    transition: 0.3s;
}

button:hover {
    background: darkred;
}
